body {
    background-color: aqua;
    font-family: georgia;
    text-align: justify;
}

h1 {
    font-family: Comic Sans MS; 
    color: darkblue;
    font-size: 60px;
    font-weight: bold;
}


h4 {
    text-align: right;
    font-style: italic;
}